@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  margin: 0;
  padding: 0;
}


header {
  background-color: #032541;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  height: 64px;
  z-index: 50;
}

.logo {
  margin: 2em;
  display: flex;
}

.nav-bar > ul {
  list-style: none;
  display: flex;
}

li {
  margin-inline: 1em;
  display: flex;
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: white;
}

.nav-bar > ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  
}

.login {
  display: flex;
  margin-right: 2em;
}


.content-wrapper{
  width: 100%;
  height: 100;
  /* background-color: red; Cor de fundo apenas para visualização */
  box-sizing: border-box; /* Para incluir a margem e o preenchimento na largura e altura */
  display: flex;
  flex-wrap: wrap;
  padding: 30px 40px;
    
}

.main{
    display: flex;
    flex-direction: column;
}